# Windows
Thumbs.db
.DS_Store

# Unity project folders
Habis-RPG/Library/
Habis-RPG/Temp/
Habis-RPG/Obj/
Habis-RPG/Logs/
Habis-RPG/UserSettings/

# IDE
.vs/
.vscode/
*.csproj
*.slnx
*.sln
*.suo

# Compiled
*.apk
*.aab
*.exe
